@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Anasayfa butonunun yanindaki 3 çizgiden menüyü açıp kapatabilirsiniz. Menüdeki butonlara tıklıyarak gerekli sayfaya gidip sayfadki butonlarla etkileşime girerek gerekli işlemlerinizi yaptırabilirsiniz.</p>
</div>
