

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        /* Özelleştirmeler */
        body {
            background-color: #f8f9fa; /* Arka plan rengi */
            padding-top: 4rem;
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Kenar yumuşatma */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
