@model WebApplication2.Models.Gemiler

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layouttemel.cshtml";
}

<h1>Create</h1>

<h4>Gemiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GemiAdi" class="control-label"></label>
                <input asp-for="GemiAdi" class="form-control" />
                <span asp-validation-for="GemiAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bayrak" class="control-label"></label>
                <input asp-for="Bayrak" class="form-control" />
                <span asp-validation-for="Bayrak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tonaj" class="control-label"></label>
                <input asp-for="Tonaj" class="form-control" />
                <span asp-validation-for="Tonaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimanId" class="control-label"></label>
                <input asp-for="LimanId" class="form-control" />
                <span asp-validation-for="LimanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a button type="button" class="btn btn-success" asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
